/* ProfileComponent.css */

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .game-summary {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .game-summary h3 {
    margin-bottom: 10px;
    color: #444;
  }
  
  .game-summary p {
    margin: 5px 0;
  }
  
  .round-summary {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .round-summary p {
    margin: 5px 0;
  }
  
  .meme-image {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .scrollable-container {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px; /* To avoid content hiding behind scrollbar */
  }
  
  .scrollable-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .btn-return-personal-area {
    margin-top: 20px; 
  }
  